---
import { config } from "config";
import { formatPhoneNumber } from "shared/utils";
import { Icon } from 'astro-icon';
import Container from "./Container.astro";
---

<footer class="bg-bg-secondary text-neutral-300 relative py-16 overflow-hidden">
  <Container>
    <div class="flex space-x-16 justify-between">
      <div class="gap-6 lg:gap-0 grid grid-cols-12 w-full">
        <div class="col-span-12 md:col-span-4 lg:col-span-3 space-y-6">
          <h2 class="heading heading-lg text-neutral-100">Location</h2>
          <address class="not-italic flex flex-col space-y-1">
            {config.address.map((a) => <span class="flex p-0 m-0 flex-col">{a}</span>)}
          </address>
          <a class="flex font-bold" href={`tel:${config.phone}`}>{formatPhoneNumber(config.phone)}</a>
        </div>

         <!-- hours -->
         <div class="col-span-12 md:col-span-4 lg:col-span-3 space-y-6">
          <h2 class="heading heading-lg text-neutral-100">Hours</h2>
          <table class="not-italic flex flex-col space-y-1">
            {config.hours.map((h) => (
              <tr >
                <td class="pr-6 pb-1">{h.days}:</td>
                <td>{h.hours}</td>
              </tr>))}
          </table>
        </div>

        <div class="col-span-12 md:col-span-1 md:col-start-12 flex space-x-2 justify-start md:justify-end mt-4 md:mt-0">
          <a href={config.socials.instagram} target="_blank">
            <Icon pack="mdi" name="instagram" class="w-12 md:w-8" />
          </a>
          <a href={config.socials.facebook} target="_blank">
            <Icon pack="mdi" name="facebook" class="w-12 md:w-8" />
          </a>
        </div>
      </div>
    </div>
  </Container>
</footer>