---
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'food'>['data']['items'][0] & {
  category: string
}

const {
  id, name, description, price, spicy, category,
} = Astro.props;

---

  <li class="flex space-between w-full border-solid border-b border-neutral-300 border-b-1 space-x-4 py-4 md:py-2">
    <div class="text-neutral-700 uppercase text-sm font-bold flex items-start pt-1">
      <span>{category}</span>
      <span>{id}</span>
    </div>
    <div class="flex flex-col">
      <div class="flex ">
        <span class="text-stone-600">
          {name}
          {' '}
          {spicy ? 'x' : ''}
        </span>
      </div>
      {description && <span class="text-sm">{description}</span>}
    </div>
    <div class="text-neutral-600 whitespace-nowrap text-right flex-grow flex justify-end">
      <span>$</span>
      <span>{price}</span>
    </div>

  </li>
