---
import { SEO } from 'astro-seo';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import '@/assets/style/global.css';
import Header from './Header.astro';
import Footer from './Footer.astro';
import { config } from 'config';
export interface Props {
	title?: string;
}

const filteredNavItems: string[] = ["nav1", "nav2"];
const navItems = config.nav.filter((item) => filteredNavItems.includes(item.id));

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-white">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&display=swap" />
		<SEO title={config.name} description={config.description}/>
		<title>{title}</title>
	</head>
	<body>
		<nav class="nav-desktop:hidden bg-bg-primary fixed right-0 w-2/3 max-w-[300px] z-20 min-safe-h-screen">
			<ul class="list-none flex flex-col space-y-4 pt-16 px-8">
				{navItems.map((n) => <li><a href={n.route} class="text-white">{n.name}</a></li>)}
			</ul>
		</nav>
		<div class="min-safe-h-screen flex flex-col justify-between">
			<div>
			<Header />
			<slot />
		</div>
		<Footer />
	</div>
	</body>
	
</html>